/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.flex-btn {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
